*{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*--------Css reset----------*/
#background-img img{
    width: 100vw;
    max-height: 500px;
}
#container{
    position: relative;
}
#txt-container{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%);
}
#txt-container h2{
    color: white;
    font-size: 2.3em;
    text-align: center;
}
#btn-container{
    margin: 30px auto;
    background-color: white;
    padding: 5px 18px;
    max-width: 16.5vw;
    border-radius: 3px;
    text-align: center;

}
#btn-container a{
    text-decoration: none;
    color: black;
}
#btn-container:hover{
    background-color: rgb(245, 244, 244);
}
/*------body container-------*/
#body-container{
    display: flex;
    justify-content: space-evenly;
}
#img-container-1 img{
    width: 50vw;
    height: 500px;
    object-fit: cover;   
}
#txt-part h2{
    text-align: center;
}
#txt-part h3{
    margin: 20px 0;
    text-align: center;
}
#txt-part p{
    text-align: justify;
}
#list{
    padding: 15px;
}
#txt-part{
    width: 60vw;
    padding: 15px;
    position: relative;
    height: 500px;
}
#btn-container-01 {
    position: absolute;
    bottom: 10px;
    left: 15px;
}
#btn-container-01 a{
    text-decoration: none;
    background-color: rgb(93, 151, 93);
    padding: 10px 20px;
    border-radius: 4px;
    color: black;
}
#btn-container-01 :hover{
    background-color: rgb(2, 59, 2);
}
#btn-container-01 a:hover{
    color: white;
}
/*------body container 2------*/
#body-container-2{
    background-color: rgb(242, 253, 253);
    display: flex;
    justify-content: space-evenly;
    margin: 10vw 0;
}

#txt-part-2{
    width: 45vw;
    margin: 50px;
}
#txt-part-2 h2{
    margin: 10vh auto 7vw auto;
    text-align: center;
}
#txt-part-2 p{
    margin: 30px 0;
    text-align: center;
}
#img-002 img{
    width: 50vw;
    margin: 11vh 0;
    max-height: 600px;
    object-fit: cover;
}
input{
    width: 90%;
    padding: 10px 15px;
    margin: 3px auto;
    display: block;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(174, 214, 214);
}
#date-btn{
    margin: 80px auto;
    max-width: 45%;
    background-color: rgb(174, 214, 214);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}
#date-btn:hover{
    background-color: rgb(132, 197, 197);
}
/*------services-------*/
#comment-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#heading-container{
    text-align: center;
    font-size: 20px;
}
#heading-container p{
    margin-top: 30px;
}
#img-1 img,
#img-2 img,
#img-3 img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#img-1,
#img-2,
#img-3{
    text-align: center;
    margin-bottom: 100px;
}
#btn-container-02{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
}
#btn-container-02 a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 4px;
    color: black;
}
#btn-container-02 :hover{
    background-color: rgb(241, 240, 240);
}
/*--------discription part-------*/
#discription-container{
    width: 100%;  
    margin-bottom: 0;  
}
#section-1{
    display: flex;
}
#sub-section-1 img{
    width:100%;
    height: 90vh;
   
    object-fit:fill;
}

#sub-section-1{
    
    width: 50%;
}
#sub-section-2{
    
    text-align: justify;
    width: 50%;
    text-align: center;
    background-color: rgb(230, 230, 230);
    height: 90vh;
    padding: 20px;
}
#sub-section-2 h3{
    margin: 50px auto 20px auto;
    font-size: 32px;
}
#sub-section-2 p{
    line-height: 25px;
    text-align: justify;
}



#section-2{
    display: flex;
}
#sub-section-02 img{
    width:100%;
    height: 90vh;
    object-fit:cover;
}
#sub-section-02{
    width: 50vw;
}
#sub-section-01{
    
    width: 50vw;
    text-align: center;
    height: 90vh;
    padding: 20px;
}
#sub-section-01 p{
    line-height: 25px;
    text-align: justify;
}
#btn-container-03{
    display: flex;
    justify-content: center;
    margin: 70px  auto 0 auto;
    margin-bottom: 100px;
}
#btn-container-03 a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 4px;
    color: black;
}
#btn-container-03 :hover{
    background-color: rgb(233, 233, 233);
}

/*content-container*/
#content-container001{
    background-color: rgb(221, 221, 221);
    text-align: center;
    line-height: 240px;
    font-size: 40px;
    word-spacing: 5px;
    letter-spacing: 5px;
}
/*footer */
#footer-container{
    display: flex;
}
#imggg{
    width: 30vw;
    filter: invert();
}
#drop-down-menu{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
#drop-down-menu li{
    border: 1px solid transparent;
    padding: 5px 15px;
    position: relative;
}
#drop-down-menu li:hover{
    border: 1px solid black;
}
.drop{
    list-style: none;
    display: none;
    position: absolute;
    margin-top: 5px;
    left: 0;
}
#drop-down-menu li:hover .drop{
    display: block;
}
